package controllers

import "github.com/gophersaurus/gf.v1/http"

// {{ .Name }} is a controller.
var {{ .Name }} = struct {
	Index func(resp http.Responder, req *http.Request)
}{
	Index: func(resp http.Responder, req *http.Request) {

		// write the result
		resp.Write(req, req)
	},
}
